/* semantic color variables for this project */
:root {
  --color-background: #FFFF;
  --color-heading: #459c63;
  --color-text: #5db67c;
  --border-radius: 12px;

  /* Botões */
  --color-background-btn-primary: #5db67c;
  --color-background-btn-primary-hover: #459c63;
  --color-text-btn-primary: #fff;

  --color-background-btn-secondary: #6c757d;
  --color-background-btn-secondary-hover: #565e64;
  --color-text-btn-secondary: #fff;

  --color-background-btn-danger: #dc3545;
  --color-background-btn-danger-hover: #b02a37;
  --color-text-btn-danger: #fff;

  /* Input */
  --color-border-input: #dbd8d8;
  --color-background-input: #ffff;
}